<nav class="navbar navbar-light navbar-native">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span class="title-navbar">Blog da Rairai</span>
    </a>
    <div class="d-flex align-items-center">
      <span class="login button"><a href="/login"><i class="far fa-user"></i></a></span>
    </div>
  </div>
</nav>
