<nav class="navbar navbar-light navbar-native">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span class="title-navbar">Blog da Rairai</span>
    </a>
    <div class="d-flex align-items-center">
      <% if(user != undefined){ %> 
      <span style="color: #FFF;"><%= user.username %></span>
      <span class="login button"><a href="/logout"><i class="fas fa-sign-out-alt"></i></a></span>
      <% }else {%>
      <span class="login button"><a href="/login"><i class="far fa-user"></i> Login</a></span>
      <% }%>
    </div>
  </div>
</nav>
