<%- include('../../partials/header.ejs') %>
<body>
  <div class="container">
    <div class="card margin-card">
        <div class="card-header">
            <h2>Nova categoria</h1>
        </div>
      <div class="card-body">
        <form method="POST" action="/api/categories">
            
            <label for="title">Nome da categoria</label>
            <input type="text" class="form-control" name="title" id="floatingInput title" autocomplete="off">
            <br>
          <button class="btn" id="button-submit">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('../../partials/footer.ejs') %>
